<main>
  <div class="left">
    <div class="img-box">
      <img [src]="'../../../assets/img/prodotti/' + object.id + ' Grande.jpeg'" alt="" />
    </div>
  </div>
  <div class="right">
    <div class="up">
      <p class="title">{{ object.nome }}</p>
    </div>
    <div class="bottom">
      <div class="description">
        <p class="text">{{ object.description }}</p>
      </div>
      <div class="data">
        <table>
          <tbody>
            <tr *ngFor="let item of getObjectKeys(object)">
              <td *ngIf="getObjectValue(item.key)" class="uppercase">{{ item.displayName }}</td>
              <td *ngIf="getObjectValue(item.key)" >{{ getObjectValue(item.key) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
