<main>
  <button #buttonClose class="close-column">
    <svg id="Livello_2" data-name="Livello 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47.33 46.07">
      <defs>
        <style>
          .cls-1 {
            fill: none;
            stroke: #000;
            stroke-miterlimit: 10;
          }

        </style>
      </defs>
      <g id="Livello_1-2" data-name="Livello 1">
        <path class="cls-1"
          d="m38.5,45.57H8.83c-3.25-3.25-5.08-5.08-8.33-8.33V8.83C3.75,5.58,5.58,3.75,8.83.5h29.67c3.25,3.25,5.08,5.08,8.33,8.33v28.42c-3.25,3.25-5.08,5.08-8.33,8.33Z" />
        <g>
          <line class="cls-1" x1="16.38" y1="15.75" x2="30.95" y2="30.32" />
          <line class="cls-1" x1="30.95" y1="15.75" x2="16.38" y2="30.32" />
        </g>
      </g>
    </svg>
  </button>
  <div #divleft id="divleft">
    <div class="content">
      <p i18n class="col-title">
        COS È <br />
        <span class="italicOnHover"> ES.DESIGN </span>
      </p>
      <p i18n class="big">01</p>
    </div>

    <div #innerContentLeft id="inner-content" class="inner-content inner-content-left">
      <div class="first-inner">
        <div class="left-side">
          <h1>
            ES <br />
            IO <br />
            SUPER-IO
          </h1>
        </div>
        <div class="right-side">
          <p>
            ES è un progetto creativo, estetico, introspettivo, sensoriale. Attinge il nome dalla psicoanalisi freudiana in cui es è "Voce primordiale della Natura nell'anima dell'uomo" con l'intenzione però di spostare l'approccio logico psicanalitico che essa rappresenta, in una chiave interpretativa olistico sintetica, in cui il tutto è correlato.
            Nella visione che caratterizza la nostra società infatti, tutto è scandito da dogmi analitici che spezzettano la realtà nel tentativo di dare un senso logico e non olistico al creato: Scienza, Medicina, Religione...
          </p>
          <p>
Questo con risultati piuttosto scarsi quando la Scienza, ad esempio, si trova di fronte alla necessità di spiegare come una cellula a un certo punto si sviluppi e diventi braccio piuttosto che Cuore, Fiore, Luna; oppure per la Medicina che, nonostante ad oggi risulti necessaria ed evolutissima, fa riflettere come la maggior parte dei principi attivi vengano estratti dalla Natura stessa e fossero a disposizione degli antichi e nativi saperi dell'uomo; esempio cardine è la Religione che imponendo dogmi di accettazione, allontana la sinergia dell'universo materiale da quello spirituale, inevitabilmente…
          </p>
        </div>
      </div>
    </div>
  </div>

  <div #divmid id="divmid">
    <div class="content">
      <p i18n class="col-title">
        CHI È <br />
        <span class="italicOnHover"> RICCARDO CONTINI </span>
      </p>
      <p i18n class="big">02</p>
    </div>

    <div #innerContentMid id="inner-content" class="inner-content inner-content-mid">
      <img src="../../../assets/img/b&w/1 Grande.jpeg" class="left-side" alt="" />
      <!-- <div ></div> -->
      <div class="right-side">
        <h1 i18n>RICCARDO CONTINI</h1>
        <div class="content-grid-middle">
          <div class="content-inner">
            <h1 i18n>
              AUTOBIOGRAFIA <br />
              CREATIVA
            </h1>
          </div>
          <div class="content-inner">
            <p i18n>
              Sono Riccardo e questa è la mia storia o meglio quella che vorrei raccontare; nel farlo sono combattuto se
              partire dalle mie origini o dalle mie ispirazioni, in ogni caso sono entrambe riflesso tangibile nella mia
              proposta artistica. Nasco in Primavera, durante un'inaspettata notte di
              neve che forse ha da subito segnato la mia attrazione nei confronti del Cielo e delle sue declinazioni
              Terrene…
              Respirando Arte sin da piccolo, muovo i primi passi verso la formazione di un'espressione estetica
              disegnando e riproponendo in maniera personale tutto ciò che mi circonda. Le figure della mia infanzia
              come i viaggi, i vestiti nelle vetrine, le opere d'arte, arricchiscono la mia quotidianità in maniera così
              diversa che posso soltanto rimanerne segnato profondamente, seppur secondo una percezione sempre molto
              personale e poco scolastica.
            </p>
            <img src="../../../assets/img/b&w/10 Grande.jpeg" class="img-box" alt="" />

            <h1 i18n>ES</h1>
          </div>
          <div class="content-inner">
            <p i18n>
              Dopo gli studi classici nell'estemporanea cornice che è Venezia, mi laureo in Fashion Design all'Istituto
              Marangoni di Milano.
            </p>
            <p i18n>
              Una dinamica ed esplosiva capitale alla quale nonostante non mi senta appartenere a pieno,
            </p>
            <p i18n>è diventata una mia nuova tana che voglio ringraziare per avermi dato spazio e consapevolezza
              personale tanto da piantare fondamenta sempre più stabili nel mio Microuniverso creativo.
            </p>
            <p i18n>E’ infatti la spiritualità leggera e profonda della Natura abbinata per contrasto al frastuono
              avanguardistico della Metropoli, la mia più sincera fonte di ispirazione per ES, progetto creativo che
              nasce dal concetto psicanalitico di "voce spontanea della Natura nell'anima dell’uomo".
              Figure, soggetti, soluzioni che nascono da un concetto
              naturalistico-spirituale ma si esprimono in forme dinamiche e sempre innovative! Materiali naturali che si
              fondono in maniera sinergica e danno vita un gioco di contrasti tra superfici brillanti e attuali con
              altre che paiono erose dalla Natura Madre che nel richiamare a se gli elementi diventa in realtà nuova
              Generatrice!</p>
          </div>
          <div class="logo-area-long">
            <h1 i18n>C/O Riccardo Contini</h1>
            <img src="../../../assets/img/Sign.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div #divright id="divright">
    <div class="content">
      <p i18n class="col-title">
        PERCHÈ <br />
        <span class="italicOnHover"> LA FRECCIA </span>
      </p>
      <p i18n class="big">03</p>
    </div>

    <div #innerContentRight id="inner-content" class="inner-content inner-content-right">
      <div class="first-section">
        <div class="left-area">
          <h1 i18n>LA FRECCIA</h1>
          <p i18n>
            ES propone una serie di 19 pezzi unici, preziosi gioielli ispirati allo Spirito della Natura e offerti a un
            pubblico interessato a indossare un pensiero profondo e universale, attraverso un design accattivante dalle
            ispirazioni Native, Tribali, Primordiali ma sempre innovative.
            Il gioiello di ES si può immaginare con il gesto di una mano che affonda nella terra smossa e ne estrae un
            pugno apparentemente grezzo che nasconde in realtà un frammento di Luce!!!
            Il soggetto di questa prima proposta è la Freccia, simbolo di Pace e Unione Cosmica.
          </p>
        </div>
        <div class="right-area">
          <img src="../../../assets/img/altro/FRECCIA 2.jpg" alt="rock img" />
        </div>
      </div>
      <div class="second-section">
        <div class="left-side">
          <h1 i18n>
            "Vita è un ponte <br />
            da attraversare <br />
            e non sul quale <br />
            costruire una casa"

            <span> [ Recita un porverbio Dakota]</span>
          </h1>
        </div>
        <div class="right-side">
          <div class="content-custom">
            <p i18n>
              Questa, scoccata, volteggiando in aria unisce Tempo e Materia in un dialogo incessante, fotografando
              attimi di rara bellezza in cui la Natura agisce in maniera tangibile sulle superfici che ne accolgono
              l’operato.
              Siano riplasmati dal Vento in un Canyon, erosi nel cuore di una Sequoia o frastagliati dal Ghiaccio, i
              gioielli in mostra sono volti a stimolare in maniera estetica e introspettiva la bellezza che è già parte
              della Natura, quindi già parte di Noi!!! Si tratta di quell'intesa simbolica con Madre Terra che ci
              proietti a Padre Cielo, genitori ideali/reali di cui abbiamo assoluto bisogno; Noi, così piccoli e lontani
              dal senso di sinergia con il Creato.
            </p>
          </div>

          <div class="images-wrapper">
            <div class="img-inner">
              <img src="../../../assets/img/altro/FRECCIA 12.jpg" alt="rock img" />
              <p i18n>01</p>
            </div>

            <div class="img-inner">
              <img src="../../../assets/img/altro/FRECCIA 12.jpg" alt="rock img" />
              <p i18n>02</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
